<h1>Comments for each topic</h1>
<% topicInfos.comment.forEach(function (ele) { %>
	<h1>This is comments: <%= ele %></h1>
	<form action="/forums" method="post">
		<label>Add comments</label>
		<input type="hidden" name="topicId" value="<%= topicInfos._id %>">
		<input type="text" 
					name="comment"
					placeholder="<%= topicInfos.title %>">

		<input type="submit" value="comment">
	</form>
<% }) %>
