<h2>Welcome to New Title</h1>

<form action="/forums" method="post" >
	<h2>Title</h2>
	<textarea name="topic[title]" placeholder="Title" class="form-box"></textarea> <br>
	<h3>Content</h3>
	<textarea name="topic[content]" placeholder="Content" class="form-box"></textarea> 
					

<!-- 	<label>Vote Point</label>
	<input type="radio" name="topic[vote]" value="1"> Good
	<input type="radio" name="topic[vote]" value="0"> bad<br>

	<input type="text"
					name="topic[comment]"
					placeholder="comment"> -->

	<input type="submit" value="submit">
</form>