<h2>Welcome to New Title</h1>

<form action="/forums" method="post">
	<h2>Title</h2>
	<input type="text" 
					name="topic[title]"
					placeholder="Title"><br>
	<h3>Content</h3>
	<textarea name="topic[content]"></textarea> 
					

<!-- 	<label>Vote Point</label>
	<input type="radio" name="topic[vote]" value="1"> Good
	<input type="radio" name="topic[vote]" value="0"> bad<br>

	<input type="text"
					name="topic[comment]"
					placeholder="comment"> -->

	<input type="submit" value="submit">
</form>