body {
	background-color: lightgrey;
}

.form-box {
	width: 100%
}

.box-padding {
	border: 3px solid black;
	padding-left: 10px;
}

.box-comments {
	border: 1px dotted black;
	margin-left: 10px;
	padding-left: 3px;
	padding-bottom: 10px;
}