<!DOCTYPE html>
<html lang="en">
<head>
	<title>My app</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">


	<link rel="stylesheet" type="text/css" href="/style/style.css">
		<!-- Latest compiled and minified JavaScript -->
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
	<div class="row">
		<div class="col-xs-1 col-md-1"></div>
		<div class="col-xs-10 col-md-10">
			<h3>Welcome to Forum</h2>
			<%- body %>			
		</div>

	</div>

<script src="/script/main.js"></script>
</body>
</html>
