<h1>Please log in to our site!</h1>

<form action="/users/login" method="post">
	<input type="text" 
					name="user[username]"
					placeholder="username">
	<input type="password"
					name="user[password]"
					placeholder="password">
	<input type="submit" value="Log in!">
</form>

<h1><a href="/users/forum/forumMain">Go to the main Page</a></h1>